doctype html
html(ng-app="app" ng-controller="home")
    head
        title= title
        link(rel='stylesheet', href='/css/home.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/angularjs-toaster/toaster.min.css')
    body()
        block content
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/angular.min.js')
    script(src='/js/angular-animate.js')
    script(src='/angularjs-toaster/toaster.min.js')
    script(src='/js/home_script.js')
    script(src='/js/script.js')
    script(src='/js/service.js')
    script(src='/socket.io/socket.io.js')

